/* exo-100 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/exo-v9-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Exo Thin'), local('Exo-Thin'),
       url('fonts/exo-v9-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-100.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-100.svg#Exo') format('svg'); /* Legacy iOS */
}
/* exo-200 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/exo-v9-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Exo ExtraLight'), local('Exo-ExtraLight'),
       url('fonts/exo-v9-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-200.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-200.svg#Exo') format('svg'); /* Legacy iOS */
}
/* exo-300 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/exo-v9-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Exo Light'), local('Exo-Light'),
       url('fonts/exo-v9-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-300.svg#Exo') format('svg'); /* Legacy iOS */
}
/* exo-regular - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/exo-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Exo Regular'), local('Exo-Regular'),
       url('fonts/exo-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-regular.svg#Exo') format('svg'); /* Legacy iOS */
}
/* exo-500 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/exo-v9-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Exo Medium'), local('Exo-Medium'),
       url('fonts/exo-v9-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-500.svg#Exo') format('svg'); /* Legacy iOS */
}
/* exo-600 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/exo-v9-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Exo SemiBold'), local('Exo-SemiBold'),
       url('fonts/exo-v9-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-600.svg#Exo') format('svg'); /* Legacy iOS */
}
/* exo-700 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/exo-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Exo Bold'), local('Exo-Bold'),
       url('fonts/exo-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-700.svg#Exo') format('svg'); /* Legacy iOS */
}
/* exo-800 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/exo-v9-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Exo ExtraBold'), local('Exo-ExtraBold'),
       url('fonts/exo-v9-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-800.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-800.svg#Exo') format('svg'); /* Legacy iOS */
}
/* exo-900 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/exo-v9-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Exo Black'), local('Exo-Black'),
       url('fonts/exo-v9-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-900.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-900.svg#Exo') format('svg'); /* Legacy iOS */
}

body {
  font-family: "Exo", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #282828;
}

.top-header {
  height: 812px;
  background: transparent;
}

.top-header__title {
  font-family: "Exo", sans-serif;
  font-size: 3.75em;
  line-height: 75px;
  font-weight: 100;
}

.sign {
  text-align: center;
  margin: 0;
  font-size: 1em;
  letter-spacing: 0.2em;
  line-height: 50px;
  text-transform: uppercase;
  color: #ff6d6d;
}

.sign--margin {
  margin-top: 120px;
}

.block-title {
  margin: 0;
  font-size: 2.5em;
  line-height: 50px;
  color: #282828;
}

.block-title--red {
  color: #ff6d6d;
}

.block-text {
  line-height: 26px;
  opacity: 0.66;
}

.block-text--margin-bottom-large {
margin-bottom: 140px;
} 

.block-text--margin-bottom-middle {
  margin-bottom: 100px;
}

.col-lg--bg {
  background-image: url(img/bg.png);
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.main-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1200px) {
  .main-top {
    margin-left: 2em;
  }
}

@media (min-width: 1440px) {
  .main-top {
    margin-left: 6em;
  }
}

.sign--left {
  text-align: left;
}

.block-text--margin-top {
  margin-top: 40px;
}

.block-title--center {
  text-align: center;
}

.features {
  background-color: #f6f5f3;
}

.feature--style-1 {
  background-image: url(img/featurePicture.png);
}

.feature--style-2 {
  background-image: url(img/featureAirplane.png);
}

.feature--style-3 {
  background-image: url(img/featureBulb.png);
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding-top: 160px;
  background-position: 50% 18%;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .feature {
    padding-top: 150px;
    padding-bottom: 0px;
  }
}


.resposive-design__bg {
  min-height: 500px;
  background-image: url(img/resposiveDesignMacbook.png), url(img/resposiveDesignBg.png);
  background-position: 100% 60%, 0 12%;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .resposive-design__bg {
    display: none;
  }
}
.staff {
  background-color: #000000;
  background-image: url(img/staffBg.jpg);
  background-position: center;
  background-repeat: repeat;
}

.employee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding-top: 180px;
  background-image: url(img/staffPhoto.png);
  background-position: 50% 18%;
  background-repeat: no-repeat;
}

.employee__name {
  margin: 0;
  font-size: 1.375em;
  color: #ffffff;
}

.employee__post {
  margin-bottom: 20px;
  font-size: 1em;
  letter-spacing: 0;
  color: #ff6d6d;
}

.block-text--white {
  color: #ffffff;
}

.block-text--italic; {
  font-style: italic;
}


