/* exo-100 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/exo-v9-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Exo Thin'), local('Exo-Thin'),
       url('fonts/exo-v9-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-100.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-100.svg#Exo') format('svg'); /* Legacy iOS */
}
/* exo-200 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/exo-v9-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Exo ExtraLight'), local('Exo-ExtraLight'),
       url('fonts/exo-v9-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-200.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-200.svg#Exo') format('svg'); /* Legacy iOS */
}
/* exo-300 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/exo-v9-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Exo Light'), local('Exo-Light'),
       url('fonts/exo-v9-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-300.svg#Exo') format('svg'); /* Legacy iOS */
}
/* exo-regular - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/exo-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Exo Regular'), local('Exo-Regular'),
       url('fonts/exo-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-regular.svg#Exo') format('svg'); /* Legacy iOS */
}
/* exo-500 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/exo-v9-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Exo Medium'), local('Exo-Medium'),
       url('fonts/exo-v9-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-500.svg#Exo') format('svg'); /* Legacy iOS */
}
/* exo-600 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/exo-v9-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Exo SemiBold'), local('Exo-SemiBold'),
       url('fonts/exo-v9-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-600.svg#Exo') format('svg'); /* Legacy iOS */
}
/* exo-700 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/exo-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Exo Bold'), local('Exo-Bold'),
       url('fonts/exo-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-700.svg#Exo') format('svg'); /* Legacy iOS */
}
/* exo-800 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/exo-v9-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Exo ExtraBold'), local('Exo-ExtraBold'),
       url('fonts/exo-v9-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-800.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-800.svg#Exo') format('svg'); /* Legacy iOS */
}
/* exo-900 - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/exo-v9-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Exo Black'), local('Exo-Black'),
       url('fonts/exo-v9-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/exo-v9-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/exo-v9-latin-900.woff') format('woff'), /* Modern Browsers */
       url('fonts/exo-v9-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/exo-v9-latin-900.svg#Exo') format('svg'); /* Legacy iOS */
}

body {
  font-family: "Exo", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #282828;
}

a {
  list-style: none; 
  text-decoration: none;
}

.top-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.top-header__title {
  max-width: 715px;
  padding-top: 210px;
  font-family: "Exo", sans-serif;
  font-size: 3.75em;
  line-height: 75px;
  font-weight: 100;
  color: #282828;
}

.sign {
  text-align: center;
  margin: 0;
  font-size: 1em;
  letter-spacing: 0.2em;
  line-height: 50px;
  text-transform: uppercase;
  color: #ff6d6d;
}

.sign--margin {
  margin-top: 120px;
}

@media (max-width: 768px) {
  .sign--margin {
    margin-top: 60px;
  }
}

.block-title {
  margin: 0;
  font-size: 2.5em;
  line-height: 50px;
  color: #282828;
}

.block-title--red {
  color: #ff6d6d;
}

.block-text {
  line-height: 26px;
  opacity: 0.66;
}

.block-text--margin-bottom-large {
margin-bottom: 140px;
} 

@media (max-width: 768px) {
  .block-text--margin-bottom-large {
    margin-bottom: 40px;
  } 
}

.block-text--margin-bottom-middle {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .block-text--margin-bottom-middle {
    margin-bottom: 40px;
  }
}

.col-lg--bg {
  background-image: url(img/bg.png);
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.main-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1200px) {
  .main-top {
    margin-left: 2em;
  }
}

@media (min-width: 1440px) {
  .main-top {
    margin-left: 6em;
  }
}

.sign--left {
  text-align: left;
}

.block-text--margin-top {
  margin-top: 40px;
}

.block--center {
  text-align: center;
}

.features {
  background-color: #f6f5f3;
}

.feature--style-1 {
  background-image: url(img/featurePicture.png);
}

.feature--style-2 {
  background-image: url(img/featureAirplane.png);
}

.feature--style-3 {
  background-image: url(img/featureBulb.png);
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding-top: 160px;
  background-position: 50% 18%;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .feature {
    padding-top: 150px;
    padding-bottom: 0px;
  }
}


.resposive-design__bg {
  min-height: 500px;
  background-image: url(img/resposiveDesignMacbook.png), url(img/resposiveDesignBg.png);
  background-position: 100% 60%, 0 12%;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .resposive-design__bg {
    display: none;
  }
}
.staff {
  background-color: transparent;
}

.employee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding-top: 180px;
  background-image: url(img/staffPhoto.png);
  background-position: 50% 18%;
  background-repeat: no-repeat;
}

.employee__name {
  margin: 0;
  font-size: 1.375em;
  color: #ffffff;
}

.employee__post {
  margin-bottom: 20px;
  font-size: 1em;
  letter-spacing: 0;
  color: #ff6d6d;
}

.text--white {
  color: #ffffff;
}

.block-text--italic; {
  font-style: italic;
}



.partner {
  display: flex;
  justify-content: center;
  margin-bottom: 85px;
}

@media (max-width: 990px) {
  .browser__img {
    display: none;
  }
}

.subscription-form {
  padding: 90px 0;
  background-color: #323969;
}

.subscription-form__item {
  width: 260px;
  height: 50px;
  margin-top: 90px;
  margin-right: 28px;
  background-color: #464c77;
  border:1px solid #999cb4;
  border-radius: 2px;
  color: #ffffff;
}

.subscription-form__item.subscription-form__button {
  position: relative;
  text-transform: uppercase;
  background-color: #ff6d6d;
  border-color: #ff6d6d;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.subscription-form__button::before {
  position: absolute;
  top: -65px;
  left: 30px;
  display: block;
  width: 192px;
  font-size: 1em;
  text-transform: none;
  color: #e8e9ef;
  content: "30 days free trial for all.";
}

.subscription-form__button::after {
  position: absolute;
  top: -60px;
  left: 5px;
  display: block;
  width: 18px;
  height: 42px;
  background-image: url(img/arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}




.subscription-form__text {
  color: #ffffff;
  opacity: 0.6;
}

.subscription-form__list {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



.subscription-form__link {
  text-decoration: underline;
  color: #ffffff;
  opacity: 0.6;
}

.subscription-form__link:hover {
  color: #ffffff;
  opacity: 1;
}

.subscription-form__link:active {
  color: #ffffff;
  opacity: 0.3;
}

.top-header__play {
  width: 59px;
  height: 59px;
  margin: 35px 0;
  border: 1px solid #8286a3;
  border-radius: 50%;
  background-color: #8286a3;
  background-image: url(img/buttonPlayPolygon.png);
  background-position: 55% 50%;
  background-repeat: no-repeat;
  transition-duration: 0.1s;
  opacity: 0.8;
}

.top-header__play:hover {
  opacity: 0.6;
}

.top-header__play:active {
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.text-center {
  text-align: center;
}

.top-header__try-now {
  width: 192px;
  height: 50px;
  margin-bottom: 15px;
  background-color: #ff6d6d;
  border:1px solid #ff6d6d;
  border-radius: 2px;
  font-family: "Exo", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.top-header__try-now:hover {
  opacity: 0.8;
}

.top-header__try-now:active {
  opacity: 0.6;
}

.top-header__footnote {
  margin-bottom: 225px;
  font-family: "Exo", sans-serif;
  font-size: 0.875em;
  letter-spacing: 0.04em;
  color: #282828;
  opacity: 0.6;
}

.page-footer {
  padding-top: 80px;
  padding-bottom: 90px;
}

.page-footer__logo {
  margin-bottom: 10px;
}

.page-footer__address-text {
  font-size: 0.875em;
  line-height: 26px;
  color: #282828;
  opacity: 0.56;
}

.page-footer__title {
  font-size: 1.375em;
  line-height: 50px;
  color: #282828;
}

.page-footer__list {
  padding: 0;
}

.page-footer__list li {
  line-height: 30px;
  opacity: 0.66;
  list-style: none;
}

.page-footer__list a {
  color: #282828;
}

.page-footer__list a:hover {
  text-decoration: underline;
}

.page-footer__list a:active {
  opacity: 0.6;
}

.page-footer__email {
  width: 215px;
  height: 50px;
  padding: 0;
  padding-right: 50px;
  background-color: #f6f6f6;
  border: 2px solid #b8b8bf;
  border-radius: 5px 0 0 5px;
}

.page-footer__email:focus {
  border: 2px solid #e3e3e8;
}

.page-footer__button {
  position: absolute;
  margin-left: -50px;
  width: 50px;
  height: 50px;
  background-color: #ff6d6d;
  background-image: url(img/footerButton.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #ff6d6d;
  border-radius: 5px;
}

.page-footer__button:hover {
  background-color: #fb8080; 
  border: 2px solid #fb8080;
}

.page-footer__button:active {
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}


